*, 
::after, 
::before {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input, 
button, 
textarea, 
select {
    font: inherit;
    appearance: none;
    outline: none;
}