h1,
:global(.f1) { 
	font-size: rem(48); 
}

h2,
:global(.f2) { 
	font-size: rem(36); 
}

h3,
:global(.f3) { 
	font-size: rem(24); 
}

h4,
:global(.f4) {  
	font-size: rem(20); 
}

h5,
:global(.f5) { 
	font-size: rem(16); 
}

h6,
:global(.f6) { 
	font-size: rem(14); 
}