h1,
.heading-one {
	font-size: rem(48); 
}

h2,
.heading-two {
	font-size: rem(36); 
}

h3,
.heading-three {
	font-size: rem(24); 
}

h4,
.heading-four {
	font-size: rem(20); 
}

h5,
.heading-five {
	font-size: rem(16); 
}

h6,
.heading-six {
	font-size: rem(14); 
}