@import '~utils';

.outer {
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	width: 100%;
	height: 100vh;
}

.inner {
	max-width: 100%;
	width: 500px;
	padding: 0 10px;
}

.text {
	background: #eee;
	text-align: center;
	padding: 25px;
	color: #222;
}