@mixin breakpoint($b) {
    @if $b == "lg" {
        @media (min-width: $breakpoint-large) {
            @content;
        }
    }
    @if $b == "md" {
        @media (min-width: $breakpoint-medium) {
            @content;
        }
    }
    @if $b == "sm" {
        @media (min-width: $breakpoint-small) {
            @content;
        }
    }
}